*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #F2F8FC;
}
.container{
    /* background-color: white; */
    display: flex;
    justify-content: center;
    /* flex-basis: 60%; */
    
    justify-content:center;
    margin-top: 2em;
   
}


.media-player{
    background-color:white;
    /* flex-basis: 40%; */
    display: flex;
    padding: 3em;
    flex-direction: column;
    gap: 5em;
    border-radius: 10px;
    box-shadow: 1px 1px 1rem 1px rgb(134, 139, 139);
}
.header{
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
}
.text-center{
    text-align: center;
    font-size: 1.2em;
}
.header-margin-top2{
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;

}
.middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3em;
}

#file{
    display: flex;
    /* flex-basis: 40%; */
    width: 100%;
    
}
.song-list{
    display: flex;
    flex-direction: column;
    gap: 3em;
}
.song{
    display:flex;
    justify-content: space-between;
    font-size: 1.2em;
}
.highlight{
    font-weight: 600;
}
.img{
    height: 15em;
    background-image: url(https://i.ytimg.com/vi/DRwYhxVNwzU/maxresdefault.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #F2F8FC;
}
.progress-bar{
    display: flex;
    flex-direction: column;
}
.time{
    display: flex;
    justify-content: space-between;
}
.color-gray{
    color: rgb(179, 169, 169);
}
.color-deep-gray{
    color: gray;
}